/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&display=swap');

/*overwrite*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/*Set up gif background*/
body {
    background-image: url(https://media1.giphy.com/media/iu7HJkSD1Id5FXlGry/giphy.gif?cid=ecf05e47gxcrinzkcpepcxysbpiwofj2z41p5wtkn96xmq0o&rid=giphy.gif&ct=g);
    width:100%;
    background-position: center;
    background-repeat: no-repeat repeat;
    background-size:cover;
}

li,a,i{
    font-family:'Cormorant', serif;
    font-weight: 400;
    font-size:16px; 
    color: #fff;
    text-decoration: none;
}

/*______________everything inside header starts here________________*/

header{
    background:#3D3D3d;
    opacity: 0.7;
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding:20px 10%; 
}

/*logo*/
.logo{
    cursor: pointer;
    width: 100px;
    height: 50px;
}

/*nav bar*/
.nav_links{
    list-style: none;
}

.nav_links li{
    display:inline-block;
    padding:0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
}

/*social media icon*/
.social_icon i{
    display:inline-block;
    padding:0px 20px;
}

/*__________________________About Me Section_______________________________*/
/*main set up*/
.about{
    width:100%;
    padding:100px 0px;
}

.AboutMe{
    width: 1030px;
    max-width: 95%;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.about img{
    height: 280px;
    width: 420px;
}

.about_text{
    width:500px;
    color:#fff
}

/*individual element set up*/
.about_text h1{
    font-size: 28px; 
    margin-bottom: 20px;
    font-weight: 600;
}

.about_text h5{
    font-size: 16px; 
    margin-bottom: 20px;
    font-weight: 400;
}
.about_text p{
    font-size: 22px; 
    margin-bottom: 10px;
    font-weight:300;
}

/*__________________________Project Overview_______________________________*/
/*main set up*/
.project{
    width:100%;
    padding:30px 0px;
}

.ProjectOverview{
    width: 1030px;
    max-width: 95%;
    margin:0 auto;
    display:flex;
    align-items:flex-start;
    justify-content: space-around;
}

/*individual elements set up*/
.project_num{
    list-style: none;
}

.project_num li{
    display:inline-block;
    padding:0px 74px;
}

.project_num li a{
    transition: all 0.3s ease 0s;
}
.project_num li a:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
}

.project img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:40px;
    height: 600px;
    width: 1030px;
}

/*__________________________Footer_______________________________*/
footer{
    background:#3D3D3d;
    opacity: 0.7;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:20px 10%; 
}

/*footer text*/
.footer_links{
    list-style: none;
    text-align: center;
}

.footer_links li{
    display: inline-block;
    padding: 20px 89px;}

.footer_links li a{
    transition: all 0.3s ease 0s;
}

.footer_links li a:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
}

.footer p{
    text-align: center;
    color:#fff;
    font-size: 14px;
    padding:10px;
}


/*_________________________This is the end of homepage_____________________*/


/*_________________________This is the beginning of My Work Page_____________________*/
.CaseStudy{
    padding: 40px 0px;
    width: 100%;
    margin:auto;
}

.CaseStudy h1{
    color: white;
    font-size: 28px; 
    font-weight: 600;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CaseStudy img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    max-width: 1030px;
}
/*Below is my css flex knowledge*/
.CS_Img{
    display: flex;
    justify-content: center;
}

.CS_Img img{
    width: 48%;
    max-width: 500px;
    margin:15px;
}

.Marketing{
    padding: 40px 0px;
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
}

.Marketing h1{
    color: white;
    font-size: 28px; 
    font-weight: 600;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Using Grid knowledge here*/

/*Marketing_Img is my grid container's name*/
.Marketing_Img{
    margin-bottom: 10%;
    justify-content: center;       
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,3fr);
    place-items:center; 
}

.Marketing_Img img{
   max-width: 330px;
   width:100%;


}
/*_________________________This is the end of My Work Page_____________________*/

/*_________________________Mobile Media Query Session Below_____________________*/

@media (max-width:600px){
    .Marketing_Img{
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap:10px; 
        justify-content: center;
    }
    
    .Marketing_Img img{
        max-width: 320px;
        width:100%;
    }

    .CaseStudy h1{
        color: white;
        font-size: 20px; 
        font-weight: 600;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Marketing h1{
        color: white;
        font-size: 20px; 
        font-weight: 600;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/*_________________________This is the end of Mobile media query_____________________*/


/*_________________________Below is the Assignment for Week 19______________________________*/
.landing_heading{
    position: relative;
    text-align: center;
    margin-top: 5%;
}

.landing_heading img{
    width: 150px; 
    height:75px; 
}

.landing_heading p{
    color: #fff;
    font-size: 20px;
    padding: 20px;
}

/*______________________________typewriting part below__________________________*/

#text{
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 30px;
    letter-spacing: 3px;
}


/*__________________________________Main content________________________________*/

.landing_box{
    position: relative;
    width: 500px; 
    height: 336px;
    margin: 30px auto;
    background: rgba(255,255,255,0.2); 
    /*creating a rgba box so that the opacity of the content inside will not change*/
    text-align: center;
}

.landing_box {
    list-style: none;
}


.landing_box li{
    padding:30px;
}

.landing_box li a{
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

/*_____________Added hover effect directly on CSS_______________*/
.landing_box li a:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    font-size: 26px;
}



/*____________social media icons at the bottom_____________________*/

.landing_icon{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-left: 35%;
    margin-right: 35%;
}

/*_________________________This is the end of landing page with user interaction_____________________*/


